<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/assets/scaffolds.scss">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <div class="container-fluid" style="position: absolute;left:35%;top: 10%"> 
    <div class="row">
      <div class="col-sm col-sm-offset-2 col-sm-offset-1">
        
        <h1 style="color: white">Welcome to Phoenix Portal</h1>
          
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
              <div class="card-pf bg-light" style="width: 450px;height: 250px">
                <img class="card-img-top float-left" style = "height: 230px;width: 200px;" src="/assets/group.svg" alt="Card image cap">
                <div class="card-body">
                  
                  <!--User Information is shown here-->
                  <h4 class="card-title"><u>User Information:</u></h4>
                    <h4 style="position: absolute; left: 23.5%">ID: <%= @user.id %></h4><br><br>
                    <h4 style="position: absolute; left: 23.5%">Name: <%= @user.name %></h4>
                    <a href='/' style="position: absolute; left: 28%;top: 60%"class="btn btn-primary">Back</a>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>